*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;
background:black;
color:white;

}



/* VIDEO BACKGROUND */

.videoBackground{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-2;

}

#bgVideo{

width:100%;
height:100%;
object-fit:cover;

}



/* LOADER */

.loader{

position:fixed;
width:100%;
height:100vh;
background:transparent;
display:flex;
align-items:center;
justify-content:center;
z-index:1000;

}

.loader h1{

font-family:'Cinzel';
font-size:80px;

}



/* NAVBAR */

header{

position:fixed;
width:100%;
top:0;

}

nav{

display:flex;
justify-content:space-between;
padding:20px 8%;

background:rgba(0,0,0,0.4);
backdrop-filter:blur(10px);

}



/* HERO */

.hero{

height:100vh;
display:flex;
align-items:center;
justify-content:center;
text-align:center;

}

.heroContent h1{

font-family:'Cinzel';
font-size:110px;
color:rgba(255,255,255,0.35);

}

.heroContent p{

margin-top:20px;
font-size:20px;

}

.ctaBtn{

margin-top:30px;
display:inline-block;
padding:14px 40px;
border:1px solid white;
text-decoration:none;
color:white;

}



/* SPECIALISATIES */

.specialisaties{

padding:200px 10%;
background:black;

}

.specialisaties h2{

text-align:center;
margin-bottom:80px;
font-size:50px;

}

.specGrid{

display:grid;
grid-template-columns:repeat(3,1fr);
gap:40px;

}

.specCard{

position:relative;
height:500px;
overflow:hidden;

}

.specCard img{

width:100%;
height:100%;
object-fit:cover;

}

.specText{

position:absolute;
top:30px;
left:30px;

font-size:24px;
font-weight:600;

}



/* CUT OUT WINDOW */

.videoWindow{

height:600px;
background:black;
display:flex;
justify-content:center;
align-items:center;

}

.cutout{

width:500px;
height:300px;
backdrop-filter:blur(10px);

background:rgba(255,255,255,0.05);

}



/* CINEMATICS */

.cinematics{

padding:200px 0;
background:black;

}

.cinematics h2{

text-align:center;
margin-bottom:60px;

}



.carousel{

overflow-x:auto;
white-space:nowrap;

}

.carouselTrack video{

width:500px;
margin:20px;
display:inline-block;

}



/* CONTACT */

.contact{

padding:200px 10%;
text-align:center;
background:black;

}



/* FOOTER */

footer{

text-align:center;
padding:40px;

}
